{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_admin/setting_configtime

    Admin time setting template.

    Context variables required for this template:
    * name - form element name
    * id - element id
    * hours - list of valid hour options containing name, value, selected
    * minutes - list of valid minute options containing name, value, selected

    Example context (json):
    {
        "name": "test",
        "id": "test0",
		"numberofbookings": [
            { "name": "1", "value": "1", "selected": true },
            { "name": "2", "value": "2", "selected": false }
        ],
        "bookingperiod": [
            { "name": "1 day", "value": "86400", "selected": true },
            { "name": "2 days", "value": "172800", "selected": false }
			{ "name": "1 week", "value": "604800", "selected": false }
			{ "name": "2 weeks", "value": "1209600", "selected": false }
			{ "name": "3 weeks", "value": "1814400", "selected": false }
        ]
        
    }
}}
<div class="form-time defaultsnext text-ltr">
    <label class="accesshide" for="{{id}}enabled">{{enabledstr}}</label>{{enabledstr}}
    <input type="hidden" name="{{name}}[enabled]" value="0" >
    <input type="checkbox" name="{{name}}[enabled]" value="1" id="{{id}}enabled" {{#checked}}checked{{/checked}} class="restrictbookings">
    <label class="accesshide" for="{{id}}booking">{{bookingstr}}</label>{{bookingstr}}
    <select id="{{id}}booking" name="{{name}}[booking]" class="restrictbookings">
        {{#numberofbookings}}
            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
        {{/numberofbookings}}
    </select>
    <label class="accesshide" for="{{id}}period">{{periodstr}}</label>{{periodstr}}
    <select id="{{id}}period" name="{{name}}[period]" class="restrictbookings">
        {{#bookingperiod}}
            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
        {{/bookingperiod}}
    </select>

</div>

